@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');


:root {
    --fontmonsterrat: 'Montserrat', sans-serif;
    --fontplayfair: 'Playfair Display', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0px;
    padding: 0px;
    scroll-snap-type: y mandatory;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow-x: hidden;
    /* background-color: ; */
}

html {
    scroll-behavior: smooth;
}

html,
body {
    overscroll-behavior-x: none;
}

section {
    height: 100vh;
    /* scroll-snap-align: start; */
}


@keyframes parallax {
    to {
        transform:
            translateY(calc(var(--parallax-speed) * 200px));
    }
}

.section1 * {
    animation: parallax linear;
    animation-timeline: scroll();
}

.section1 {
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFF;
    /* margin-bottom: 7rem; */

    .image-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        img {
            --parallax-speed: -20;
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
    }

    nav,
    .hero,
    .cta {
        position: relative;
        z-index: 1;
    }

    nav {
        height: 12%;
        /* width:90%; */
        display: flex;
        padding: 10px 100px;
        justify-content: space-between;
        align-items: center;
        color: #FFFFFF;

        span {
            color: #fff;
            font-family: var(--fontmonsterrat);

        }

        h2 {
            color: #FFF;
            font-family: var(--fontmonsterrat);
            font-size: clamp(0.5rem, 0.8rem + 0.7vw, 3rem);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .hero {
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        color: #FFF;
        text-align: center;
        font-family: var(--fontmonsterrat);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        gap: 3rem;
        padding-right: 6rem;
        text-align: left;

        span {
            max-width: 40%;
        }

        p {
            max-width: 40%;
            font-weight: 400;
            font-size: 1rem;
        }
    }

    .cta {
        display: flex;
        height: 10%;
        justify-content: right;
        align-items: center;
        padding-right: 6rem;

        button {
            padding: 1.2rem .5rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            border-radius: 3.125rem;
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid #FFF;
            color: #FFF;
            font-family: var(--fontmonsterrat);
            font-size: clamp(0.5rem, 0.5rem + 0.7vw, 2.5rem);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            cursor: pointer;
            transition: all 0.3s ease-out;
        }

        button:hover {
            color: #a4a4a4;
            border: 1px solid #a4a4a4;
            /* background-color: rgba(255, 255, 255, 0.3); */
        }
    }
}

.section2 {
    height: auto;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #040A06;
    overflow-y: hidden;
    padding: 15rem 0rem;
    gap: 20rem;

    .img-section {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: auto;
        width: 100vw;
        align-items: center;

        img {
            width: 42rem;
            max-height: 32rem;
            object-fit: cover;
            object-position: center;
        }
    }
}

.section3 {
    position: absolute;
    z-index: 2;
    background-color: #040A06;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    button {
        font-family: 'Playfair Display', sans-serif;
        padding: 12rem 5rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 0.7rem;
        background-image: url(assets/gallery/back-bg.jpg);
        background-size: cover;
        background-position: center;
        border: none;
        color: #FFF;
        font-size: clamp(2rem, 0.5rem + 0.7vw, 4rem);
        font-weight: 600;
        cursor: pointer;
        transition: padding 0.5s ease-out;

        .home {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
        }
    }

    button:hover {
        padding: 12rem 20rem;

        /* &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 0;
            left: 0;
            width: 60%;
            height: 40%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2;
        } */
    }
}